<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>acronym></acronym>
<h1><sub>me</sub> <sup>cool</sup></h1>
<img src="http://img3.wikia.nocookie.net/__cb20100823094728/ssb/images/thumb/2/2b/Lol-face.gif/240px-Lol-face.gif">
<p>yo wassup mah homeh dawg</p>
