<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p>yo wassup bro</p>
<img src="http://img3.wikia.nocookie.net/__cb20100823094728/ssb/images/thumb/2/2b/Lol-face.gif/240px-Lol-face.gif">